/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.form-group {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Thèmes */
.theme-dark {
    background-color: #333;
    color: white;
}

.theme-light {
    background-color: #f4f4f4;
    color: black;
}
