/* Variables : Définition des couleurs et des durées de transition */
:root {
    --primary-color: #333; /* Couleur principale du texte */
    --secondary-color: #f0f0f0; /* Couleur secondaire pour les fonds et les textes sur fond sombre */
    --background-light: #f9f9f9; /* Couleur de fond pour le mode clair */
    --background-dark: #333; /* Couleur de fond pour le mode sombre */
    --accent-color: #ddd; /* Couleur d'accent pour les interactions */
    --transition-duration: 0.3s; /* Durée des transitions */
}

/* Style de base pour le corps de la page */
body {
    font-family: 'Roboto', sans-serif; /* Police de caractère */
    max-width: 1200px; /* Largeur maximale */
    margin: 0 auto; /* Centrage horizontal */
    padding: 20px; /* Padding interne */
    text-align: center; /* Alignement du texte */
    background-color: var(--background-light); /* Couleur de fond en mode clair */
    color: var(--primary-color); /* Couleur du texte */
    transition: background-color var(--transition-duration), color var(--transition-duration); /* Transitions pour les changements de couleur */
}

/* Mise en page principale avec une grille adaptable */
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Grille réactive */
    gap: 20px; /* Espacement entre les éléments */
    margin: 20px;
    padding: 20px;
    box-sizing: border-box; /* Inclure le padding et la bordure dans les dimensions de l'élément */
}

/* Styles pour les boutons de changement de langue */
.language-buttons {
    display: flex; /* Affichage en flexbox */
    justify-content: center; /* Centrage horizontal des boutons */
    gap: 10px; /* Espacement entre les boutons */
    margin-bottom: 20px;
}

.language-buttons button,
.habit-form button,
.toggle-dark-mode-button,
.reset-data-button {
    padding: 10px 20px; /* Padding interne */
    background-color: var(--secondary-color); /* Couleur de fond */
    color: var(--primary-color); /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Bordures arrondies */
    cursor: pointer; /* Curseur en mode pointeur */
    transition: background-color var(--transition-duration), color var(--transition-duration), transform var(--transition-duration); /* Transitions pour les interactions */
}

/* Effet de survol pour les boutons */
.language-buttons button:hover,
.habit-form button:hover,
.toggle-dark-mode-button:hover,
.reset-data-button:hover {
    background-color: #999; /* Changement de couleur de fond */
    color: var(--secondary-color); /* Changement de couleur du texte */
    transform: scale(1.05); /* Agrandissement léger */
}

/* Alignement du contenu à gauche */
.left-content {
    text-align: left;
}

/* Centrage du contenu à droite */
.right-content {
    text-align: center;
}

/* Style pour les titres */
h1 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

/* Style pour le texte de motivation */
.motivation-text {
    text-align: left;
    margin-bottom: 20px;
    color: #666; /* Couleur du texte */
}

/* Style pour le formulaire d'ajout d'habitudes */
.habit-form {
    display: flex; /* Affichage en flexbox */
    align-items: flex-end; /* Alignement en bas */
    gap: 10px; /* Espacement entre les éléments */
    margin-bottom: 20px;
}

.habit-form label {
    flex: 0 0 80px; /* Largeur fixe de 80px */
    text-align: right; /* Alignement du texte à droite */
}

/* Style pour le champ de texte */
.habit-form input[type="text"] {
    flex: 1; /* Prend tout l'espace disponible */
    padding: 10px; /* Padding interne */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 5px; /* Bordures arrondies */
    transition: border-color var(--transition-duration); /* Transition pour la bordure */
}

/* Effet de focus pour le champ de texte */
.habit-form input[type="text"]:focus {
    border-color: #ffffff; /* Changement de couleur de bordure */
}

/* Style pour les tableaux */
table {
    width: 100%; /* Largeur complète */
    border-collapse: collapse; /* Fusion des bordures */
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Style pour les cellules du tableau */
th, td {
    border: 1px solid #ccc; /* Bordure grise */
    padding: 10px; /* Padding interne */
    text-align: center; /* Alignement centré */
}

/* Style pour les lignes avec des habitudes faites */
.habit-done-today {
    background-color: #eee; /* Couleur de fond */
}

/* Style pour le graphique */
canvas {
    margin-top: 20px;
}

/* Thème sombre */
body.dark-mode {
    background-color: var(--background-dark); /* Couleur de fond en mode sombre */
    color: var(--secondary-color); /* Couleur du texte en mode sombre */
}

body.dark-mode .habit-form input[type="text"],
body.dark-mode .language-buttons button,
body.dark-mode .habit-form button,
body.dark-mode .toggle-dark-mode-button,
body.dark-mode .reset-data-button {
    background-color: #555; /* Couleur de fond pour les éléments en mode sombre */
    color: var(--secondary-color); /* Couleur du texte */
    border: 1px solid #888; /* Bordure grise foncée */
}

body.dark-mode .language-buttons button:hover,
body.dark-mode .habit-form button:hover,
body.dark-mode .toggle-dark-mode-button:hover,
body.dark-mode .reset-data-button:hover {
    background-color: #777; /* Changement de couleur de fond */
}

body.dark-mode table {
    border-color: #888; /* Couleur de bordure pour les tableaux en mode sombre */
}

body.dark-mode .habit-done-today {
    background-color: #555; /* Couleur de fond pour les habitudes faites en mode sombre */
    color: var(--secondary-color); /* Couleur du texte */
}

body.dark-mode h1,
body.dark-mode .motivation-text {
    color: var(--secondary-color); /* Couleur du texte pour les titres et le texte de motivation */
}

body.dark-mode .chartjs-text {
    fill: var(--secondary-color) !important; /* Couleur du texte du graphique en mode sombre */
}

body.dark-mode .chartjs-tick {
    color: var(--secondary-color) !important; /* Couleur des graduations du graphique en mode sombre */
}

body.dark-mode .chartjs-border {
    stroke: var(--secondary-color) !important; /* Couleur des bordures du graphique en mode sombre */
}

/* Style pour le bouton de suppression */
.delete-button {
    background-color: transparent; /* Pas de couleur de fond */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur en mode pointeur */
    transition: color var(--transition-duration); /* Transition pour la couleur */
    color: #999; /* Couleur initiale */
    padding: 0; /* Pas de padding */
}

.delete-button:hover {
    color: var(--accent-color); /* Changement de couleur au survol */
}

body {
    font-family: Arial, sans-serif; /* Définit la police du texte pour tout le corps de la page */
    margin: 0; /* Supprime les marges par défaut du corps */
    padding: 0; /* Supprime le padding par défaut du corps */
}

nav {
    background-color: #333; /* Définit une couleur de fond sombre pour la barre de navigation */
    padding: 10px; /* Ajoute un padding de 10px autour des éléments de la barre de navigation */
}

nav a {
    color: white; /* Définit la couleur du texte des liens de navigation à blanc */
    padding: 14px 20px; /* Ajoute du padding autour des liens de navigation pour les rendre plus larges et cliquables */
    text-decoration: none; /* Supprime le soulignement des liens */
    display: inline-block; /* Permet aux liens de s'afficher en ligne avec du padding autour */
}

nav a:hover {
    background-color: #575757; /* Change la couleur de fond des liens au survol pour améliorer l'interaction visuelle */
}

h1 {
    text-align: center; /* Centre le texte du titre */
    margin-top: 20px; /* Ajoute un espace au-dessus du titre pour le séparer des autres éléments */
}
